@model MVC2GETHER.Models.User;
<form id=Login-form method="post" action="LogIn">
    
    <h4>Email</h4> <input type="email" name="Email" />
    <h4>Password</h4> <input type="text" name="PassWord" />
    <input type="submit" id=login-button value="Logga in" />
    
 </form>