@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">2Gether - Where it Happens</h1>
    <p> <input type="button" value="Log In"> <a href=""></a>.</p>
</div>
