@{
    ViewData["Title"] = "Home Page";
}

<div class="background-image">
    <div class="text-center">
        <h1 class="display-4">2Gether - Where it Happens</h1>
    </div>
</div>


   <a href="Account/LogIn">Logga in</a>
   <br>
   <a href="Account/SignUp">Bli medlem</a>

