body {
    background-image: url("https://th.bing.com/th/id/R.c3aab5013627b2404afc94e7d30cf31b?rik=1f39RjnfN%2f00EQ&riu=http%3a%2f%2fclipart-library.com%2fimages%2fyckrxrRxi.jpg&ehk=ZWswgzzduOE9IsSzImB9ovpEIfFDaKICQa5ubMEjqNs%3d&risl=&pid=ImgRaw&r=0");
    background-size: 24pc;
    background-repeat: no-repeat;
    background-position: center ;
  }

a{
    font-size: x-large;
    color: black;
    text-decoration: none;
}
